
{% load static %}
<html>
    <head><title>Admin approver</title>
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    </head>
    <body>
<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Kothagudam skill development center</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'adminhome' %}">Home <span class="sr-only">(current)</span></a>
            </li>
           
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-3"> Approval</h1>
       
    </div>
</div>
<table class="table table-dark table-striped table-hover table-border">
    <tr>
        <th>S/no</th>
        <th>Name</th>
        <th>Email</th>
        <th>number</th>
        <th>Adderess</th>
        <th>Gender</th>
        <th>Aceept</th>
        <th>Reject</th>
    </tr>
    <tr>
<td>1</td>
<td>K.Nishith Reddy</td>
<td>nishihkaregama2357@gmail.com</td>

<td>8978138780</td>
<td>Mardi</td>
<td>male</td>
<td><i class="fa fa-eye    "></i></td>
<td>no</td>
    </tr>
    <tr>
        <td>1</td>
        <td>K.Nishith Reddy</td>
        <td>nishihkaregama2357@gmail.com</td>
        
        <td>8978138780</td>
        <td>Mardi</td>
        <td>male</td>
        <td>accept</td>
        <td>no</td>
            </tr>
            <tr>
                <td>1</td>
                <td>K.Nishith Reddy</td>
                <td>nishihkaregama2357@gmail.com</td>
                
                <td>8978138780</td>
                <td>Mardi</td>
                <td>male</td>
                <td>accept</td>
                <td>no</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>K.Nishith Reddy</td>
                        <td>nishihkaregama2357@gmail.com</td>
                        
                        <td>8978138780</td>
                        <td>Mardi</td>
                        <td>male</td>
                        <td>accept</td>
                        <td>no</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>K.Nishith Reddy</td>
                                <td>nishihkaregama2357@gmail.com</td>
                                
                                <td>8978138780</td>
                                <td>Mardi</td>
                                <td>male</td>
                                <td>accept</td>
                                <td>no</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>K.Nishith Reddy</td>
                                        <td>nishihkaregama2357@gmail.com</td>
                                        
                                        <td>8978138780</td>
                                        <td>Mardi</td>
                                        <td>male</td>
                                        <td>accept</td>
                                        <td>no</td>
                                            </tr>
    
        
</table>
<footer class="fixed-bottom">
    <div class="bg-dark text-white text-center">
        <p>copy Rights issued by K.Nishith Reddy @2022 all rights reserved</p>
    </div>
</footer>
    </body>
</html>