{% load static %}
<html>
    <head><title>View</title>
    <link rel="styelsheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Kothagudem skill development center</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'Studenthome' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    
            </div>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <h1 class="display-3">view</h1>
                
            </div>
        </div>
        <div class="container text-center">
            <h1>Event Details</h1>
        </div>
        <table class="table table-warning table-striped table-hover">
            <tr>
                <th>S/NO</th>
                <th>Event Id</th>
                <th>Event Name</th>
                <th>Trainer Name</th>
                <th>Requirement</th>
                <th>Message</th>
                <th>Event Date</th>
                <th>Event Location</th>
               
            </tr>
            
            {% for event in eventz %}
            
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{event.id}}</td>
                <td>{{event.eventName}}</td>
                <td>{{event.TrainerName}}</td>
                <td>{{event.Requirment}}</td>
                <td>{{event.messeage}}</td>
                <td>{{event.EventDate}}</td>
                <td>{{event.Location}}</td>
                

                
            </tr>          
            {%  endfor %}

        </table>
        <footer class="fixed-bottom">
            <div class="bg-dark text-white text-center">
                <p>copy Rights issued by K.Nishith Reddy @2022 all rights reserved</p>
            </div>
        </footer>
    </body>
</html>